body {
    font-family: Monaco, monospace;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgb(199, 199, 199);
    list-style-type: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-element
{
    float: left;
    display: block;
    border-radius: 15px;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.navbar-element:hover
{
    background-color: #a8a8a8;
}

.main-section {
    margin: 10px;
    padding: 20px;
    width: auto;
    min-width: 500px;
    border-radius: 10px;
    background-color: gainsboro;
    box-shadow: 0 5px 10px grey;
    text-align: center;
    justify-content: left;
    align-items: center;
    display: flex;
}

.header
{
    margin: 10px;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    background-color: gainsboro;
    box-shadow: 0 5px 10px grey;
    text-align: center;
}

#headshot {
    min-width: 250px;
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
    filter: grayscale(0.1);
}

.text-line {
    height:2px;
    width: 100%;
    border-width:0;
    color:gray;
    background-color:rgba(128, 128, 128, 0.5)
}

.vertical-line {
    width: 2px;
    height: 15vw;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(128, 128, 128, 0.5);
    align-self: center;
}

.body-section {
    margin: 10px;
    width: auto;
    min-width: 45%;
    padding: 15px;
    border-radius: 10px;
    background-color: gainsboro;
    font-family: Monaco, monospace;
    box-shadow: 0 5px 10px grey;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-text {
    font-size: 24px;
    color:grey;
    width: 70vw;
    text-align: center;
}

.general-text {
    font-size: 24px;
    color:grey;
}

.page-link {
    font-weight: bold;
    text-decoration: none;
    font-size: 64px;
    color:rgb(237, 90, 74);
    margin: 0.25em; 
}
.page-link:hover {
    text-decoration: underline;
}

.projects-item {
    display: flex;
    width: 550px;
    margin: 15px;
    border-radius: 10px;
    background-color: gainsboro;
    box-shadow: 0 5px 10px grey;
    padding: 15px;
}
.project-image {
    object-fit: cover;
    min-width: 200px;
    min-height: 158px;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
}
.project-link{
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:rgb(233, 133, 133);
}
.project-link:hover {
    text-decoration: underline;
}

.project-image-link img{
    transition: 0.2s;
}
.project-image-link img:hover{
    scale: 1.05;
    box-shadow: 0 5px 10px grey;
}

#email-button {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(133, 212, 104);
}
#email-button:hover {
    text-decoration: underline;
}

#linkedin-button{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(60, 127, 227);
}
#linkedin-button:hover {
    text-decoration: underline;
}

#resume-button {
    margin:10px;
}
#resume-button img {
    width: 170px;
    height: 220px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.5); 
    border-width: 2px;
    border-radius: 10px;
    transition: 0.2s;
}
#resume-button img:hover {
    scale: 1.05;
    box-shadow: 0 5px 10px grey;
}

h1{
    font-size: 128px;
    color:rgb(83, 138, 239);
    line-height: 75%;
    margin: 0.25em;
}
h2{
    font-size: 64px;
    color:rgb(237, 90, 74);
    margin: 0.25em;
}
h3{
    font-size: 48px;
    color:rgb(88, 212, 90);
    margin-top: 0.25em;
    margin-bottom: 0em;
}
h4{
    text-align: center;
    font-size: 30px;
    color:rgb(233, 133, 133);
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}